snippet gettoday "Insert today's date" 
[`!v strftime("%Y%m%d")`]
endsnippet

snippet setwakeup "set wake up tags"
[wake:$1] [sleep:$2] [sleepefficiency:$3] [mysleeprating:$4]
endsnippet

snippet loglunchtime "usual lunch and break log"
1.5 Team standup and Lunch
endsnippet

snippet worktime "insert time in and time out"
[timein:$1] [timeout:$2]
endsnippet
